body{
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
}
div#header{
    width: 100%;
    background-color: wheat;
    position: fixed;
}
div#header_container{
    width: 40%;
    height: 40px;
    margin: 0 auto;
    text-align:  center;
}
img#header_icon{
    height: 100%;
    float: left;
    display: inline-block;
    margin-left: 50px;
}
h1{
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}
div#rendezes_talalatszam{
    float: right;
    height: 50px;
    width: calc(100% - 325px);
    margin: 50px 5px 10px 5px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #ebe7ae;
    background-color: #ebe7ae;
    display: flex;
    align-items: center;
}
div#rendezes{
    margin-left: 10px;
}
div#talalatszam{
    margin-left: 30px;
}
div#szurocontainer{
    float: left;
    width: 300px;
    margin: 50px auto 10px 5px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #ebe7ae;
    background-color: #ebe7ae;
}
div#szuroCim{
    margin: 0 auto;
    position: relative;
    text-align: center;
}
div#szurocontainer#szurok{
    position: relative;
}
div#szurocontainer p{
    margin-left: 10px;
}
div#szurocontainer div{
    margin-left: 10px;
}
div#szurocontainer p.hajtas{
    font-size: 14px;
    margin-left: 40px;
}
.minErtek{
    font-size: 11px;
    float: left;
    display: inline-block;
}
.maxErtek{
    font-size: 11px;
    float: right;
    display: inline-block;
}
div.slider{
    display: inline-block;
    width: 90%;
    height: 20px;
    padding: 0;
    margin: 0 auto;
}
.slider input {
    width: 150px;
    height: 20px;
    margin: 0 auto;
    transform-origin: 75px 75px;
}
p.minmax{
    margin-top: 0;
    margin-bottom: 0;

}
input.range{
    width: 100%;
}
span#vagoszelessegCurrentValue{
    margin: 0 auto;
    width: 80%;
    text-align: center;
    display: inline-block;
}
span#hengerurtartalomCurrentValue{
    margin: 0 auto;
    width: 80%;
    text-align: center;
    display: inline-block;
}
span#tomegCurrentValue{
    margin: 0 auto;
    width: 80%;
    text-align: center;
    display: inline-block;
}